#root {
	scrollbar-gutter: stable;

	background: var(--background);
	width: min(100vw, 90ch);
	height: 100lvh;
	margin: auto;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;

	& header {
		& a,
		span {
			color: var(--text);
			text-decoration: none;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}

	& main {
		flex-grow: 1;
	}
	& footer {
		align-self: center;
		opacity: 0.5;
	}
}

.Header {
	& ul {
		list-style: none;
		padding-left: 0;
	}
	& nav {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;

		& > :first-child {
			flex-grow: 1;
		}
		& > * {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}
	}
}

.Filter {
	width: min(30ch, 100%);
	& search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: .5rem;
		padding: .5rem;
		
		height: 2rem;
		border-radius: 1rem;
		background-color: color-mix(in srgb, currentColor 3%, transparent);
		
		& svg {
			opacity: 0.5;
		}

		&:hover {
			box-shadow: var(--shadow);
		}
		& input {
			flex-grow: 1;
			background: none;
			border: none;
			&:focus {
				outline: none;
			}
		}
	}
}

.Results {
	& > section:first-of-type {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 1rem;
	}
	& .results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
	}
}

.Recipe {
	display: grid;
	gap: 1.5rem;

	& img {
		width: 100%;
	}
	/* 16:9 shenanigans */
	& .video {
		position: relative;
		padding-top: 56.25%;
		& iframe {
			position: absolute;
			top: 0;
		}
	}
	& .instructions > p {
		font-size: 1.25rem;
	}
}

.Polaroid {
	text-decoration: none;
	box-shadow: var(--shadow);
	color: var(--dark);
	background: var(--light);
	width: 200px;
	display: flex;
	flex-direction: column;
	& div {
		padding: 0.5rem;
	}
}

/* match svg height to get the darned svg inside of it to center */
.svg-center {
	height: var(--svg-height);
}

.accent {
	color: var(--accent);
}

.opaque {
	opacity: 1;
}

dialog,
.Polaroid,
.Recipe {
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes highlight {
	100% {
		box-shadow: var(--shadow-dark);
	}
}