#root {
	width: min(90vw, 80ch);
	height: 100lvh;
	margin: auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;

	& header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		& nav > ul {
			list-style: none;
			padding-left: 0;

			display: flex;
			gap: 1rem;
			
			& a {
				color: var(--text);
				text-decoration: none;
				opacity: 0.8;
				&:first-of-type {
					font-weight: 600;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	& main {
		flex-grow: 1;
	}
	& footer {
		align-self: center;
		opacity: 0.5;
	}
}

.Filter {
	text-align: center;

}

.results {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	
	& > * {
		text-decoration: none;
		box-shadow: 1px 1px 4px color-mix(in srgb, black 50%, transparent);
		color: var(--dark);
		background: var(--light);
		width: 200px;
		display: flex;
		flex-direction: column;

	}
}
