#root {
	background: var(--background);
	width: min(100vw, 90ch);
	height: 100lvh;
	margin: auto;
	padding: 1rem 2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	& main {
		flex-grow: 1;
	}
}

/* PAGES */

.Home {
	display: flex;
	flex-direction: column;

	& section {
		border-bottom: 1px dotted color-mix(in srgb, var(--text) 25%, transparent);
		padding-block: 2rem;
	}

	& .hero {
		display: flex;
		align-items: center;
		background-image: url(/hero.webp);
		background-size: cover;

		font-size: 4rem;
		text-transform: uppercase;
		text-shadow: white 0 0 1rem;
		line-height: 1;

		height: 480px;
		padding: 1rem;
		padding-right: 10vw;
	}

	& .random {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;

		& :first-child {
			text-decoration: none;
			color: var(--text);

			& span {
				text-transform: uppercase;
			}
			& h2 {
				font-size: 2rem;
			}
		}

		& :last-child {
			width: 320px;
		}
	}
}

.Results {
	& > :first-child {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 1rem;
		& input {
			all: unset;
			font-size: 0.8rem;
			width: 25ch;
			text-align: right;
			border-radius: 1rem;
			&:focus {
				box-shadow: var(--shadow);
			}
			& :not(:empty) {
				box-shadow: var(--shadow);
			}
		}
	}
	& .results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		& > * {
			width: max(30%, 200px);
		}
	}
}

.Recipe {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	& section:first-of-type {
		height: 400px;
		font-size: 1.5rem;
		color: white;
		text-shadow: black 0 0 .5rem;
		background-position: center;
		background-size: cover;

		& > :first-of-type {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;

			padding: .5rem 1rem;
			padding-bottom: 2rem;
			background-image: linear-gradient(to top, #00000000, #000000);
			
			line-height: 1.25;

			& h1 {
				width: min(20ch, 100%);
			}
		}
	}

	& img {
		width: 100%;
	}
	/* 16:9 shenanigans */
	& .video {
		position: relative;
		padding-top: 56.25%;
		& iframe {
			position: absolute;
			top: 0;
		}
	}
	& .instructions > p {
		font-size: 1.2rem;
	}
}

/* COMPONENTS */

.Header {
	& ul {
		list-style: none;
		padding-left: 0;
	}
	& nav#primary {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;

		& > ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
	& nav:not(#primary) {
		box-shadow: var(--shadow-dark);
		background-color: color-mix(in srgb, var(--background) 97%, white);
		padding: 0.5rem 1rem;
	}
	& a,
	a:visited {
		font-weight: 600;
		color: var(--text);
		opacity: 0.8;
		text-decoration: none;
	}
}

.Footer {
	padding: 1rem;
	justify-self: flex-end;
	align-self: center;
	font-size: 0.75rem;
	opacity: 0.5;
	& img {
		width: 0.67rem;
	}
}

.Filter {
	width: min(30ch, 100%);
	& search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem;

		height: 2rem;
		border-radius: 1rem;
		background-color: color-mix(in srgb, currentColor 3%, transparent);

		& svg {
			opacity: 0.5;
		}

		&:hover {
			box-shadow: var(--shadow);
		}
		& input {
			flex-grow: 1;
			background: none;
			border: none;
			&:focus {
				outline: none;
			}
		}
	}
	& #recipe {
		background-color: var(--background);
		box-shadow: var(--shadow);
		padding: 0;
		& > ul {
			padding: 0;
		}
		& > ul > li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1ch;

			padding: 0.25rem 1rem;

			&:hover {
				cursor: pointer;
			}
			& img {
				height: 2rem;
			}
		}
	}
}

.Polaroid {
	text-decoration: none;
	box-shadow: var(--shadow);
	color: var(--dark);
	background: var(--light);
	display: flex;
	flex-direction: column;
	& :last-child {
		padding: 0.5rem;
	}
	&:hover {
		box-shadow: var(--shadow-dark);
	}
}

/* UTILITIES */

/* match svg height to get the darned svg inside of it to center */
.center-svg {
	height: var(--svg-height);
}

.accent {
	color: var(--accent);
}

.opaque {
	opacity: 1;
}

.dropdown {
	position: relative;

	& > .dropdown-content {
		display: none;
		position: absolute;
		z-index: 1;
	}
	&:hover .dropdown-content {
		display: block;
		animation-name: fadeIn;
		animation-duration: 0.5s;
	}
}

/* aNiMe */

.Polaroid,
.Recipe {
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes highlight {
	100% {
		box-shadow: var(--shadow-dark);
	}
}
