#root {
	width: min(90vw, 80ch);
	height: 100lvh;
	margin: auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;

	& header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& a,
		span {
			color: var(--text);
			text-decoration: none;
			opacity: 0.75;

			&:hover {
				opacity: 1;
			}
		}

		& ul {
			list-style: none;
			padding-left: 0;
		}

		& nav {
			& ul {
				display: flex;
				gap: 1rem;
				& li:first-of-type {
					font-weight: 600;
					opacity: 1;
				}
			}
		}
	}
	& dialog {
		position: absolute;
		margin: 0;
		top: 4rem;
		&#categoryDialog {

			left: 20vw;
		}
		&#areaDialog {
			left: 25vw;

		}
		& ul {
			flex-wrap: wrap;
			flex-direction: column;
			height: 25ch;
			width: 100%;
		}
	}

	& main {
		flex-grow: 1;
	}
	& footer {
		align-self: center;
		opacity: 0.5;
	}
}

.Filter {
	text-align: center;
}

.Results {
	& > section:first-of-type {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& .results {
		display: flex;
		flex-wrap: wrap;
		place-items: center;
		gap: 2rem;

	}
}

.Polaroid {
	text-decoration: none;
	box-shadow: 1px 1px 4px color-mix(in srgb, black 50%, transparent);
	color: var(--dark);
	background: var(--light);
	width: 200px;
	display: flex;
	flex-direction: column;
	& div {
		padding: .5rem;
	}
}

dialog,
.Polaroid,
.Recipe {
	animation-name: fadeIn;
	animation-duration: .5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
