:root {
	--light: #fafafa;
	--dark: #222222;
	/*flat ui https://flatuicolors.com */
	--accent: #ff6348;
	
	--classical-humanist: Optima, Candara, 'Noto Sans', source-sans-pro,
	sans-serif;
	
	--text: var(--light);
	--background: var(--dark);
	
	--svg-height: 24px;
	--shadow: 1px 1px 5px #00000033;
	--shadow-dark: 1px 1px 5px #00000066;

	color: var(--text);
	background-color: var(--background);
	font-family: var(--classical-humanist);

	line-height: 1.5;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	overflow: auto;
	scrollbar-gutter: stable;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: var(--dark);
		--background: var(--light);
	}
}

a {
	color: var(--accent);
	font-weight: 600;
	&:visited {
		color: color-mix(in srgb, var(--accent) 50%, var(--text));
	}
	&:hover {
		text-shadow: color-mix(in srgb, currentColor 50%, transparent) 0 0 1px;
	}
}

/* resets */

* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
	margin: 0;
}