:root {
	--light: #ffffff99;
	--dark: #222222;

  --classical-humanist: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

html {
	font-family: var(--classical-humanist);
	line-height: 1.5;

	color-scheme: light dark;

	color: var(--light);
	background-color: var(--dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	html {
		color: var(--dark);
		background-color: var(--light);
	}
}
