/* variables */

:root {
	--light: #ffffffcc;
	--dark: #222222;
	/*flat ui v2 french https://flatuicolors.com/palette/fr */
	--accent: #e58e26;
	
	--classical-humanist: Optima, Candara, 'Noto Sans', source-sans-pro,
	sans-serif;
	
	--text: var(--light);
	--background: var(--dark);
	
	--svg-height: 24px;
	--shadow: 1px 1px 5px #00000033;
	--shadow-dark: 1px 1px 5px #00000066;
}

/* global stuff */

html {
	color: var(--text);
	background-color: var(--background);
	font-family: var(--classical-humanist);

	line-height: 1.5;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: var(--dark);
		--background: var(--light);
	}
}

/* resets */

* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
	margin: 0;
}