:root {
	--light: #ffffffcc;
	--dark: #222222;
  
	--classical-humanist: Optima, Candara, 'Noto Sans', source-sans-pro,
  sans-serif;

  --text: var(--light);
  --background: var(--dark);
}

@media (prefers-color-scheme: light) {
	:root {
		--text: var(--dark);
		--background: var(--light);
	}
}

html {
	color: var(--text);
	background-color: var(--background);
	font-family: var(--classical-humanist);

	line-height: 1.5;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


